@import '~Colors';

.wrapper {
  width: 100%;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  padding: 12px;
  background-color: $bg_dark;
  border-color: $MINE_SHAFT;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  position: relative;

  &::after {
    content: '\25bc';
    position: absolute;
    top: calc(50% - 5px);
    right: 5%;
    font-size: 10px;
    color: $WHITE;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    &::after {
      opacity: 0.8;
    }
  }
}

.select {
  width: 107%;
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  background-color: $bg_dark;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  width: calc(100% + 14px);
  height: calc(100% + 14px);

  & > span {
    display: block;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: $DUSTY_GRAY;
    margin-bottom: 6px;
  }
}
