@font-face {
  font-family: 'Oswald Bold';
  src: url('../../../../assets/fonts/font-oswald/oswald-bold.woff') format('woff');
}

@font-face {
  font-family: 'Oswald Regular';
  src: url('../../../../assets/fonts/font-oswald/oswald-regular.woff') format('woff');
}

@font-face {
  font-family: 'Oswald Light';
  src: url('../../../../assets/fonts/font-oswald/oswald-light.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Light.otf') format('otf');
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Regular.otf') format('otf');
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Bold.otf') format('otf');
  src: url('../../../../assets/fonts/font-SourceSansPro/SourceSansPro-Bold.ttf') format('ttf');
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 8px
}

body {
  height: 100%;
  overflow: hidden;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.wrapper {
  height: 100%;
  background-color: #303133;
  font-family: 'Source Sans Pro Regular', sans-serif;
}

.main {
  height: 100%;
}
