@import '~Colors';

.mainWrapper {
  height: 100%;
  padding: 18px;
  width: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 90%;
}

.tableContainer {
  flex: 5;
  height: 100%;
}

.summaryContainer {
  flex: 2;
  margin-left: 2%;
}

.unsortedTH {
  opacity: 0.5;
}
