@import '../../../constants/colors';

.button {
  background-color: $LIME_GREEN;
  border: none;
  padding: 4px 12px;
}

.buttonText {
  color: $WHITE;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
