@import '~Colors';

.button {
  padding: 4px 12px;
  font-family: Oswald;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid transparent;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
  }
}

.default {
  color: $button-default_color;
  background-color: $button-default_bg;
  border: 1px solid $button-default_color;
}

.success {
  color: $button-success_color;
  background-color: $button-success_bg;
}

.cancel {
  color: $button-cancel_color;
  background-color: $button-cancel_bg;
  border: 1px solid $button-cancel_color;
}

.navigation {
  height: 100%;
  padding: 0px;
  color: $MEDIUM_GRAY;
  background-color: transparent;
  text-transform: uppercase;
  
  &:active,
  &:hover,
  &:focus {
    color: $button-navigation_color;
    border-bottom: 2px solid $button-navigation_color;
  }
}

.disabled {
  color: $button-disable_color;
  background-color: $button-disable_bg;
  border: 1px solid $button-disable_bg;
  cursor: default;
  
  &:hover {
    background-color: $button-disable_bg;
  }
}

.active {
  color: $button-navigation_color;
  border-bottom: 2px solid $button-navigation_color;

}
