@import '../../constants/colors';

.wrapper {
    display: flex;
    flex: 1;
    background-color: red;
    min-height: 50px;
}

.row {
    margin-left: 2%;
    border-bottom: 1px solid $MINE_SHAFT;

    td {
        color: $DUSTY_GRAY;
        text-align: center;
        padding: 5px 0 5px 0;
        font-family: SourceSansPro;
        line-height: 1.43;
        font-size: 14px;
    }

    .tournamentInfo {
        color: $WHITE;
        text-align: left;
        padding-left: 10px;
    }
}

.tournamentName {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: bold;

    a {

        text-decoration: none;
        color: $WHITE;
    }
}

.status {
    &Started {
        color: $DARK_GREEN;
    }

    &Preparing {
        color: $AMBER;
    }
}

.tag {
    margin-right: 5px;
    background-color: $MINE_SHAFT;
    color: $DUSTY_GRAY;
    font-size: 10px;
    padding: 2px;
}
