@font-face {
  font-family: 'Oswald Bold';
  src: local('Oswald Bold'), url('../assets/fonts/font-oswald/oswald-bold.woff') format('woff');
}

@font-face {
  font-family: 'Oswald Regular';
  src: local('Oswald Regular'), url('../assets/fonts/font-oswald/oswald-regular.woff') format('woff');
}

@font-face {
  font-family: 'Oswald Light';
  src: local('Oswald Light'), url('../assets/fonts/font-oswald/oswald-light.woff') format('woff');
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 8px
}

body {
  height: 100%;
    overflow: hidden;
}

a:hover, a:active, a:focus {
  outline: 0;
}

.wrapper {
  height: 100%;
  background-color: #303133;
}

.main {
  height: 100%;
}
