@import '~Colors';
$underlineWidth: 2px;

.tabs {
    display: block;
    width: 100%;

    background-color: $bg_dark;
}

.tab_item {
    margin-left: 2%;
    display: inline-block;
    position: relative;
    height: calc(100% - 2px);

    a {
        margin: 10% 0 10% 0;
        display: inline-block;
        color: $SHARP_BLUE;
        white-space: nowrap ;
        font-size: 14px;
        text-decoration: none;

        &:active, &:visited {
            text-decoration: none;
        }

        &:hover {
            cursor: pointer;
        }

    }
}

.underline {
    bottom: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    border-bottom: $underlineWidth solid $SHARP_BLUE;
}
