{
    "presets": [
        "env",
        "es2017",
        "stage-3",
        "react",
        "flow"
    ],
    "env": {
        "development": {
            "plugins": [
                ["react-transform", {
                    "transforms": [{
                        "transform": "react-transform-hmr",
                        "imports": ["react"],
                        "locals": ["module"]
                     }]
                }],
                ["transform-class-properties", { "spec": true }],
                "lodash"
            ]
        },
        "production": {
            "plugins": [
                ["transform-class-properties", { "spec": true }],
                "lodash"
            ]

        }
    }
}
