@import '~Colors';

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 410px;
  border: 10px solid $DARK_LOGIN_BORDER;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 220px;
  padding: 48px;
  text-align: center;
  background-color: rgb(43, 43, 43);
  box-sizing: border-box;
}

.logo {
  margin-bottom: 8px;
}

.headerText {
  font-family: 'Oswald Regular', sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  color: $WHITE;
  text-transform: uppercase;
}

.body {
  width: 100%;
  height: calc(100% - 220px);
  padding: 36px 65px;
  text-align: center;

  p {
    margin: 0;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #999999;
  }
}

.welcome {
  margin-bottom: 36px;
}

.buttons {
  margin-bottom: 36px;
}

.buttonInner {
  & >span {
    display: inline-block;
    margin-left: 8px;
  }
}

.support {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #666666;

  &:hover,
  &:active,
  &:focus {
    color: lighten(#666666, 15%);
    text-decoration: none;
  }
}

.profileDetailsList {
  display: flex;
  flex: .85;
  padding: 0 10px 10px 10px;
  flex-direction: column;
  overflow-y: auto;

  &Item {
    display: flex;
    border-bottom: 1px solid $MINE_SHAFT;
    height: 70px;
    width: 100%;
    flex-shrink: 0;
  }
}

.formInputs {
  margin-bottom: 20px;
}

.formItem {
  flex: 3;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &Title {
    text-align: left;
    color: $WHITE;
    font-size: 18px;
    cursor: pointer;
  }

  &Value {
    width: 100%;
    color: $DUSTY_GRAY;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    outline: none;
  }
}