@import '../../constants/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: $bg_dark;
  height: 100%;
  flex: 2;
}

.header {
  align-items: center;
  padding: 13px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}
