@import '~Colors';

.row {
  border-bottom: 1px solid $MINE_SHAFT;

  >div {
    display: inline-block;
    width: 15%;
    padding: 16px 0;
    height: 50px;
    color: $WHITE;
    font-family: SourceSansPro;
    font-size: 14px;

    &:first-child {
      width: 25%;
    }

    i {
      margin-right: 5px;
    }
  }

  .status_open {
    color: #27f4ff;
  }
  
  .status_resolved {
    color: #c3ff5b;
  }
}

.title {
  color: $WHITE;

  &:hover,
  &:focus,
  &:active {
    color: $WHITE;
  }
}

.faint {
  opacity: 0.5;
}

