@import '~Colors';

.row {
  border-bottom: 1px solid $MINE_SHAFT;

  >div {
    display: inline-block;
    width: 15%;
    padding: 15px 0;
    color: $WHITE;
    font-family: 'Source Sans Pro Regular', sans-serif;
    font-size: 14px;

    &:first-child {
      width: 25%;
    }

    i {
      margin-right: 5px;
    }
  }

  .status_open {
    font-weight: bold;
    color: #27f4ff;

    &:first-letter {
      text-transform: uppercase;
    }
  }
  
  .status_resolved {
    font-weight: bold;
    color: #c3ff5b;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.title {
  color: $WHITE;

  &:hover,
  &:focus,
  &:active {
    color: $WHITE;
  }
}

.faint {
  opacity: 0.5;
}

