@import '~Colors';

.total {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.totalLabel {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.totalValue {
  color: white;
  font-size: 24px;
  font-family: 'Oswald Regular';
}

.totals {
  color: white;
  display: flex;
  flex-direction: row;
  padding-left: 18px;
}

.horBar {
  height: 20px;
  padding-left: 18px;
}

.chartMonths {
  height: 200px;
  padding-left: 18px;
}

.doughnut {
  height: 157px;
  margin: auto;
}

