@import '~Colors';

.total {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.totalLabel {
  color: white;
}

.totalValue {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

.totals {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0 18px;
}

.chart {
  padding: 0 18px;
}
