@import '~Colors';

.container {
  height: calc(100% - 18px);
  background-color: $bg_dark;
  overflow-y: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;

  & label:last-child {
    margin-right: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-last-child(2) {
    height: calc(100% - 215px);
  }
}

.form {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  padding: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__label {
    margin-right: 18px;
    margin-bottom: 0;
  }
}
