.wrapper {
    display: flex;
    flex: 1;
}

.input {
    color: white;
    background-color: transparent;
    border: none;
    width: 80%;

    &:focus {
        outline: none;
    }
}

.icon {
    align-self: flex-end;
    margin-right: 5%;
    color: #666666;
}
