@import '../../constants/colors';

.mainWrapper {
  height: 100%;
  padding: 18px;
  width: 100%;
  position: relative;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 90%;
}

.statisticsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  height: 100%;
  width: 70%;
}

.detailsContainer {
  flex: 2;
  margin-left: 2%;
}
