@import '~Colors';

.headerCell {
  text-align: center;
  height: 50px;
  color: $WHITE;
  font-family: SourceSansPro;
  font-size: 14px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.disabled {
  color: $DUSTY_GRAY;
}

.sortIcon {
  color: $WHITE;
  margin-left: 5px;
  font-size: 10px;

  &:hover {
    color: $WHITE;
    cursor: pointer;

  }
}
