$bg_dark: #222222;
$MINE_SHAFT: #333333;
$DUSTY_GRAY: #999999;
$AMBER: rgb(228, 184, 33);
$SHARP_BLUE: rgb(57, 194, 215);
$LIME_GREEN: rgb(163, 198, 68);
$GRAPHITE: rgb(70, 69, 71);
$WHITE: rgb(255, 255, 255);
$RASPBERRY: rgb(178, 39, 70);
$PLUM: rgb(142, 36, 77);
$DARK_BLUE: rgb(26, 156, 176);
$DARK_GREEN: rgb(127, 153, 58);
$MEDIUM_GRAY: rgb(102, 102, 102);
$GRAY: rgb(153, 153, 153);
$LIGHT_GRAY: rgb(204, 204, 204);
