$bg_dark: #222222;
$MINE_SHAFT: #333333;
$DUSTY_GRAY: #999999;
$LIGHT_BLACK: #383838;
$AMBER: rgb(228, 184, 33);
$SHARP_BLUE: rgb(57, 194, 215);
$GRAPHITE: rgb(70, 69, 71);
$WHITE: rgb(255, 255, 255);
$RASPBERRY: rgb(178, 39, 70);
$PLUM: rgb(142, 36, 77);
$DARK_BLUE: rgb(26, 156, 176);
$MEDIUM_GRAY: rgb(102, 102, 102);
$GRAY: rgb(153, 153, 153);
$LIGHT_GRAY: rgb(204, 204, 204);
$LIME_GREEN: rgb(163, 198, 68);
$DARK_GREEN: rgb(127, 153, 58);

$button-default_color: #a6c638;
$button-default_bg: transparent;
$button-success_color: #ffffff;
$button-success_bg: #a6c638;
$button-cancel_color: #ffffff;
$button-cancel_bg: transparent;
$button-navigation_color: #39c2d7;
$button-disable_bg: #bdc3c7;
$button-disable_color: #333435;
$button-github-font_color: #ffffff;
$button-github-bg_color: #6cc644;
$code: #171717;
$DARK_LOGIN_BORDER: #1c1c1c;

$color-switcher-brand            : $LIME_GREEN;
$color-switcher-disabled         : $DUSTY_GRAY;
$color-switcher-inactive         : $DUSTY_GRAY;
