@import '~Colors';

.row {
  display: flex;
  border-bottom: 1px solid $MINE_SHAFT;
  height: 75px;

  >div {
    align-items: center;
    color: $DUSTY_GRAY;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    height: 75px;
    width: 15%;

    &:first-child {
      flex-grow: 0;
      flex-shrink: 0;
      width: 25%;
    }

    // &:nth-child(5) {
    //   width: 18%;
    // }
  }

  .tournamentInfo {
    display: inline-block;
    padding: 16px 0;
    color: $WHITE;
  }
}

.tag {
  margin-right: 5px;
  background-color: $MINE_SHAFT;
  color: $DUSTY_GRAY;
  font-size: 10px;
  padding: 2px;
}

.tournamentName,
.tournamentName:hover,
.tournamentName:focus {
  display: block;
  color: $WHITE;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.row > div.columnItem {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
