@import '~Colors';

.row {
  display: flex;
  border-bottom: 1px solid $MINE_SHAFT;
  height: 75px;

  >div {
    display: flex;
    align-items: center;
    width: 15%;
    height: 75px;
    color: $DUSTY_GRAY;
    font-size: 14px;

    &:first-child {
      width: 40%;
    }
    
    // &:nth-child(5) {
    //   width: 18%;
    // }
  }

  .tournamentInfo {
    display: inline-block;
    padding: 16px 0;
    color: $WHITE;
  }
}

.status {
  &Started {
    color: $DARK_GREEN;
    font-weight: bold;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &Preparing {
    color: $AMBER;
    font-weight: bold;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}


.tag {
  margin-right: 5px;
  background-color: $MINE_SHAFT;
  color: $DUSTY_GRAY;
  font-size: 10px;
  padding: 2px;
}

.tournamentName,
.tournamentName:hover,
.tournamentName:focus {
  display: block;
  color: $WHITE;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
