@import '~Colors';

.headerWithSearch {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 18px 18px;
  justify-content: space-between;
  border-bottom: 1px solid $MINE_SHAFT;
  box-sizing: border-box;
}

.title {
  color: $WHITE;
  font-family: 'Oswald Regular', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal
}
