@import '~Colors';

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bg_dark;
  overflow-y: scroll;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.header {
  align-items: center;
  padding: 12px 18px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}
