@import '~Colors';

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bg_dark;
  // overflow-y: scroll;
  grid-column: 4 / 6;
  grid-row: 1 / 5;
  // padding: 18px 0;
}

.header {
  margin-top: 18px;
  align-items: center;
  padding: 0 0 12px 18px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}
