.breadcrumbsWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 60px;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #2b2b2b;
}

.breadcrumbsWrapper:after  {
  position: absolute;
  content: '';
  left: 0;
  top: 21px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #222222;
}

.crumb, .crumb:hover, .crumb:active, .crumb:focus {
  display: flex;
  height: 60px;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding: 0 18px 0 18px;
}

div.crumb {
  background-color: #383838;
}

a.crumb {
  position: relative;
  background-color: #2b2b2b;
}

a.crumb:after {
  position: absolute;
  content: '';
  right: -9px;
  top: 21px;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #2b2b2b;
}
