.logoWrapper, .logoWrapper:hover {
  float: left;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  color: #fff;
  padding: 0 18px;
  margin-left: -16px;
  font-family: 'Oswald Regular', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  background: #222;
  white-space: nowrap;
}

.logo {
  float: left;
  height: 34px;
  width: 31px;
  margin: 13px 8px 0 0;
}
