@keyframes showOn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tournament {

  animation: 1s ease-out 0s 1 showOn;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  flex: 47%;
  max-width: 47%;
  display: flex;

  &-count {
    color: #efefef;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  &-icon {
    flex: 1;

    .glyphicon {
      top: 5px;
      font-size: 40px;
      padding-right: 15px;
      color: #efefef;
    }
  }

  &-info {
    flex: 11;
    color: #efefef;
  }

  &-title {
    a {
      transition: color 0.2s ease-in;
      position: relative;
      top: 3px;
      color: #efefef;
      font-size: 1.2em;
      text-decoration: none;

      &:hover {
        color: #3C7EA9;
      }
    }
  }

  &-author {
    padding-top: 2px;
  }

  @media(max-width: 768px) {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 0px;
  }
}
