@import '~Colors';

.header {
  width: 100%;
  padding: 0 18px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.headerCell {
  width: 15%;
  display: inline-block;
  padding: 16px 0;
  height: 50px;
  color: $WHITE;
  font-size: 14px;

  i {
    top: -1px;
    margin-left: 5px;
    font-size: 5px;
  }

  &:first-child {
    width: 25%;

    i {
      top: 0;
      margin-left: 0;
      font-size: 12px;
    }
  }
}

.disabled {
  color: $DUSTY_GRAY;
}

.sortIcon {
  color: $WHITE;
  margin-left: 5px;
  font-size: 10px;

  &:hover {
    color: $WHITE;
    cursor: pointer;

  }
}
