@import '~Colors';

.unfinishedList {
  display: flex;
  flex: .85;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 18px;

  &Item {
    display: flex;
    border-bottom: 1px solid $MINE_SHAFT;
    height: 70px;
    flex-shrink: 0;
  }
}

.tournamentInfo {
  flex: 3;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.tournament {
  &Name {
    color: $WHITE;
    font-size: 14px;
    font-weight: bold;
  }

  &Score {
    color: $DUSTY_GRAY;
    font-size: 13px;
  }
}
