@import '~Colors';

.mainWrapper {
  padding: 18px;
  width: 100%;
  position: relative;
  height: -moz-calc(100% - 5px);
  height: -webkit-calc(100% - 5px);
  height: calc(100% - 5px);
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
}

.statisticsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1);
  grid-template-rows: repeat(7, 1);
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  height: 100%;
  width: 70%;
}

.detailsContainer {
  flex: 2;
  margin-left: 20px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  left: 50%;
  top: 40%;
  margin-left: -1.25em;
  margin-top: -1.25em;
  color: $WHITE;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
