@import '~Colors';

.wrapper {
  padding: 25px 0;
  color: $WHITE;
  text-align: center;
}

.header {
  font-size: 45px;
  text-align: center;
}

.comment {
  margin: 40px 0 15px;
  padding: 0 20px;
  font-size: 24px;
}