@import '~Colors';

.container {
  height: 100%;
  width: calc(50% - 9px);
  background-color: $bg_dark;
  overflow-y: auto;
}

.header {
  display: flex;
  background-color: $bg_dark;
  padding: 12px 8px 12px 18px;
  flex-direction: row;
  border-bottom: 1px solid $MINE_SHAFT;
}

.headerName {
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  line-height: 24px;
}

.content {
  font-family: 'Source Sans Pro Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  padding: 18px 41px 0 18px;

  pre {
    background-color: $code;
  }

  pre code {
    color: $WHITE;
    background-color: $code;
  }

  code {
    color: $WHITE;
    background-color: $code;
  }
}
