@import '~Colors';

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: $bg_dark;
  overflow-y: scroll;
}

.header {
  align-items: center;
  padding: 13px;
  margin: 0;
  border-bottom: 1px solid $MINE_SHAFT;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}

.content {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.table{
  flex: 2;
}

.chart {
  flex: 5;
}

.doughnut {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}