@import '~Colors';

.container {
  display: flex;
  padding: 16px 19px;
  border-left: 1px solid $MINE_SHAFT;
  border-right: 1px solid $MINE_SHAFT;

  &:hover {
    background-color: $MINE_SHAFT;
  }
}
