@import '../../constants/colors';

.wrapper {
    display: flex;
    flex: 1;
    justify-content: space-between;
    height: 90%;
}

.mainWrapper {
  padding: 18px;
  height: 100%;
  width: 100%;
  position: relative;
}

.tableContainer {
    flex: 5;
    height: 100%;
}

.rankContainer {
    flex: 2;
    margin-left: 18px;
}
