@import '~Colors';

.rankList {
  display: flex;
  flex: .95;
  padding: 0 10px 10px 10px;
  flex-direction: column;
  overflow-y: auto;
  font-family: Source Sans Pro;

  &Item {
    display: flex;
    border-bottom: 1px solid $MINE_SHAFT;
    height: 70px;
    flex-shrink: 0;
  }
}

.avatar {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imageWrapper {
  background-color: yellow;
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 25px;


  img {
    width: 100%;
    border-radius: 25px;
  }
}

.userInfo {
  flex: 3;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.user {
  &Name {
    color: $WHITE;
    font-size: 14px;
  }

  &Score {
    color: $DUSTY_GRAY;
    font-size: 14px;
  }

  &Index {
    flex: .5;
    color: $DUSTY_GRAY;
    justify-content: flex-end;
    display: flex;
    align-items: center;

    span {
      font-size: 14px;
      height: 16px;
    }
  }

}
