@import '~Colors';

.profileDetailsList {
  display: flex;
  flex: .85;
  padding: 0 18px 10px;
  flex-direction: column;
  overflow-y: auto;

  &Item {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    padding: 17px 0 0;
    border-bottom: 1px solid $MINE_SHAFT;
  }
}

.profileDetail {
  flex: 3;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  &Name {
    color: $DUSTY_GRAY;
    font-size: 12px;
    line-height: 16px;
  }

  &Value {
    width: 100%;
    color: $WHITE;
    font-size: 14px;
    line-height: 24px;
    background-color: transparent;
    border: 0;
    outline: none;
  }
}

.buttonsBlock {
  margin-top: 15px;
}

.epamEmployee {
  margin-top: 25px;
  color: white;
}

.switch {
  margin-left: 5px;
}

.upsa {
  color: white;
}