@import '~Colors';

.container {
  height: 100%;
  padding: 18px;
}

.dataContainer {
  height: 100%;
}

.tooltips {
  margin-bottom: 12px;
}

.taskName {
  font-family: 'Oswald Regular', sans-serif;
  font-size: 24px;
  letter-spacing: 0.2px;
  color: $WHITE;
  margin-bottom: 12px;
}

.row {
  height: calc(50% - 63px);
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.mainWrapper {
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 18px;
  width: 100%;
}

.outputContainer {
  height: 100%;
  width: calc(50% - 9px);
  background-color: $bg_dark;
}
