@import '~Colors';

.rankHeaderPart {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: $DUSTY_GRAY;
  font-family: Source Sans Pro;
  font-size: 14px;
}

.info {
  color: $WHITE;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 24px;
}
