@import '../../constants/colors';

.wrapper {
    border-top: 1px solid #333333;
    background-color: $bg_dark;
    display: flex;
    flex-direction: column;
}

.table {
    width: 100%;

    th {
        text-align: center;
        height: 50px;
        color: $WHITE;
    }
}

.sortIcon {
    color: $WHITE;
    margin-left: 5px;
    font-size: 10px;

    &:hover {
        color: $WHITE;
        cursor: pointer;

    }
}
