@import '~Colors';

.container {
  height: 100%;
  width: calc(50% - 9px);
}

.header {
  display: flex;
  background-color: $bg_dark;
  padding: 8px 8px 8px 18px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $MINE_SHAFT;
}

.headerName {
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  color: $WHITE;
  line-height: 32px;
}

.headerButtons {
  display: inline-block;

  & button {
    height: 32px;
  }
}

.resetButton {
  background-color: transparent;
  border: 1px solid $MEDIUM_GRAY;
  padding: 4px 12px;
  margin-right: 6px;
}

.resetButtonText {
  color: $WHITE;
  font-family: 'Oswald Regular', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}
