@import '~Colors';

.mainWrapper {
  height: -moz-calc(100% - 60px);
  height: -webkit-calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 18px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: -moz-calc(100% - 5px);
  height: -webkit-calc(100% - 5px);
  height: calc(100% - 5px);
}

.tableContainer {
  flex: 5;
  height: 100%;
}

.summaryContainer {
  flex: 2;
  margin-left: 2%;
}

.unsortedTH {
  opacity: 0.5;
}
