@import '~Colors';

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bg_dark;
  overflow-y: scroll;
  grid-column: 1 / 6;
  grid-row: 5 / 8;
  padding: 18px 0;
}

.header {
  align-items: center;
  padding: 0 0 12px 18px;
  border-bottom: 1px solid $MINE_SHAFT;
}

.content {
  display: grid;
}

.leftContent {
  padding-right: 10px;
  grid-column: 1 / 3;
  border-right: 1px solid #333;
  display: grid;
}

.rightContent {
  grid-column: 3 / 6;
  display: grid;
}

.title {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}
