@import '~Colors';

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $bg_dark;
  overflow-y: scroll;
  grid-column: 1 / 6;
  grid-row: 5 / 8;
}

.header {
  display: flex;
  padding: 12px 0 12px 18px;
  margin-bottom: 0;
  border-bottom: 1px solid $MINE_SHAFT;
}

.title,
.period {
  text-transform: uppercase;
  font-family: 'Oswald Regular', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  color: $WHITE;
}

.title {
  flex: 10;
}

.period {
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
  padding-left: 18px;
}

.leftContent {
  flex: 3;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #333;
}

.rightContent {
  flex: 2;
  display: flex;
  align-items: center;
}

.stretchCharts {
  width: 100%;
}

